.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.adminButton {
  background-color: #007bff;
}

.adminButton:hover {
  background-color: #0056b3;
}

.reservationButton {
  background-color: #28a745;
}

.reservationButton:hover {
  background-color: #1e7e34;
}
